*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Outfit, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  margin: 2em;
  padding: 1em;
  border-radius: 15px;
  max-width: 325px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container > img {
  width: 100%;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em 1em;
}

.text-container > h1 {
  font-size: 1.2em;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-block: 0.2em;
}

.text-container p {
  font-size: 0.8em;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}
